layout {
    background-color "transparent"

    focus-ring {
        active-color   "#455e91"
        inactive-color "#757780"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#455e91"
        inactive-color "#757780"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#455e91"
        inactive-color "#757780"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#455e9180"
    }
}