#waybar {
  background: transparent;
  font-family: "SF Pro Display", Cantarell, Noto Sans, sans-serif;
  font-size: 14px;
}

#window {
  padding: 0 10px;
}

window#waybar {
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  color: #cfc9c2;
  /* background-color: rgba(26, 27, 38, 0.8) */
} 

#workspaces {
  /* margin: 0 5px; */
  background: #1a1b26;
  border-bottom-right-radius: 10px;
}

#tray {
  border-bottom-left-radius: 10px;
}

#workspaces button {
  padding: 0 8px;
  color: #565f89;
  border: 1px solid rgba(9, 85, 225, 0);
  border-radius: 10px;
  min-width: 33px;
}

#workspaces button.visible {
  color: #a9b1d6;
}

#workspaces button.focused {
  box-shadow: none;
}

#workspaces button.urgent {
  background-color: #a96d1f;
  color: white;
}

#workspaces button:hover {
  box-shadow: inherit;
  border-color: #bb9af7;
  color: #bb9af7;
}

/* Repeat style here to ensure properties are overwritten as there's no !important and button:hover above resets the colour */

#workspaces button.focused {
  color: #7aa2f7;
}
#workspaces button.focused:hover {
  color: #bb9af7;
}

#custom-recorder {
	font-size: 18px;
	margin: 2px 7px 0px 7px;
	color:#ee2e24;
}

#clock,
#tray,
#mode,
#battery,
#temperature,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#sway-language,
#backlight,
#custom-storage,
#custom-cpu_speed,
#custom-powermenu,
#custom-spotify,
#custom-weather,
#custom-mail,
#custom-media,
#custom-notification {
  background: #1a1b26;
  margin: 0px 0px 0px 0px;
  padding: 0 5px;
  /* border-top: 3px solid rgba(217, 216, 216, 0.5); */
}

#battery {
  color:  #58d3a4;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}

#backlight {
  color: #2ac3de;
}

#clock {
  background: #1a1b26;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#cpu {
  color: #7dcfff;
}

#custom-powermenu {
  background: #1a1b26;
}

#custom-storage.warning {
  color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
  color: rgba(238, 46, 36, 1);
}

#disk {
  color: #ff9e64;
}

#network {
  color: #fab387;
}

#memory {
  color: #bb9af7;
}

#mode {
  background: #7aa2f7;
  color: #1a1b26;
}

#pulseaudio {
  color: #b4f9f8;
}

#temperature {
  color: #a9b1d6;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
