* {
  border: none;
  border-radius: 0;
  font-family: Hack Nerd Font;
  font-size: 13px;
  padding: 0px 0px;
  margin: 0px 0px;
}

window#waybar {
  background-color: #1a1b26;
  color: #cfc9c2;
  padding: 0px 0px;
  margin: 0px 0px;
}

tooltip {
  border-style: solid;
  border-color: #202020;
  padding: 0px 0px;
}

#workspaces button {
  padding: 0px 0px;
  color: #9d7cd8;
  background-color: #1a1b26;
}

#workspaces button.active {
  color: #cfc9c2;
}

#workspaces button.focused {
  color: #cfc9c2;
}

#workspaces button.urgent {
  color: #0f0f0f;
  background-color: #bb9af7;
}

#workspaces button:hover {
  color: #ffffff;
}

#clock, #battery, #pulseaudio, #network, #cpu, #memory, #temperature, #disk, #workspaces, #tray, #custom-notification {
  background-color: #1a1b26;
  padding: 0px 10px;
  margin: 0px 0px;
}

#clock {
  color: #b48ead;
}

#cpu {
  color: #9d7cd8;
}

#memory {
  color: #7dcfff;
}

#disk {
  color: #e0af68;
}

#network {
  color: #fab387;
}

#pulseaudio {
  color: #588cd3;
}

#temperature {
  color: #cfc9c2;
}

#battery {
  color:  #58d3a4;
}
